<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
</head>
<body>
<h1>Checkout</h1>
<ul>
    <li th:each="cartItem : ${cartItems}">
        <p th:text="${cartItem.foodItem.name} + ' - ' + ${cartItem.quantity} + ' x ' + ${cartItem.foodItem.price} + ' $'"></p>
    </li>
</ul>
<p>Total Price: <span th:text="${#numbers.formatDecimal(totalPrice, 2, 'POINT', 'NONE')}"></span> $</p>
<form th:action="@{/checkout}" method="post">
    <button type="submit">Place Order</button>
</form>
</body>
</html>
